name: RELEASE
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  pre_release:
    name: Prepare release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.tag.outputs.TAG }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Get tag
      id: tag
      run: |
        echo "TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
    - name: Create GitHub release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create ${{ steps.tag.outputs.TAG }} --draft --title ${{ steps.tag.outputs.TAG }}

  build_release:
    name: Build release
    needs: pre_release
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-2022 ]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    # Required to upload release artifacts to GitHub
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build release (Linux)
      if: ${{ runner.OS == 'Linux' }}
      env:
        BUILD_REF: ${{ github.ref_name }}
        CSC_LINK: "${{ secrets.CSC_LINK }}"
        CSC_KEY_PASSWORD: "${{ secrets.CSC_KEY_PASSWORD }}"
        IS_CI: true
        MIXPANEL_TOKEN: "${{ secrets.MIXPANEL_PROJECT_TOKEN }}"
        MIXPANEL_STAGE: "prod"
        SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"
        SENTRY_DSN: "${{ secrets.SENTRY_DSN }}"
        SENTRY_ORG: "${{ secrets.SENTRY_ORG }}"
        SENTRY_PROJECT: "${{ secrets.SENTRY_PROJECT }}"
        UPDATES_SERVER_PRODUCT_NAME: "${{ secrets.UPDATES_SERVER_PRODUCT_NAME }}"
        GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        NODE_ENV: "production"
      run: npm run build -- --linux --publish
    - name: Build release (MacOS)
      if: ${{ runner.os == 'macOS' }}
      env:
        APPLE_DEVELOPER_ID: "${{ secrets.APPLE_DEVELOPER_ID }}"
        APPLE_DEVELOPER_ID_PASSWORD: "${{ secrets.APPLE_DEVELOPER_ID_PASSWORD }}"
        BUILD_REF: ${{ github.ref_name }}
        APPLE_TEAM_ID: "${{ secrets.APPLE_TEAM_ID }}"
        CSC_LINK: "${{ secrets.CSC_LINK }}"
        CSC_KEY_PASSWORD: "${{ secrets.CSC_KEY_PASSWORD }}"
        IS_CI: true
        MIXPANEL_TOKEN: "${{ secrets.MIXPANEL_PROJECT_TOKEN }}"
        MIXPANEL_STAGE: "prod"
        SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"
        SENTRY_DSN: "${{ secrets.SENTRY_DSN }}"
        SENTRY_ORG: "${{ secrets.SENTRY_ORG }}"
        SENTRY_PROJECT: "${{ secrets.SENTRY_PROJECT }}"
        UPDATES_SERVER_PRODUCT_NAME: "${{ secrets.UPDATES_SERVER_PRODUCT_NAME }}"
        GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        NODE_ENV: "production"
      run: npm run build -- --mac --publish
    - name: Build release (Windows)
      if: ${{ runner.os == 'Windows' }}
      env:
        BUILD_REF: ${{ github.ref_name }}
        CSC_LINK: "${{ secrets.WIN_CSC_LINK }}"
        CSC_KEY_PASSWORD: "${{ secrets.WIN_CSC_KEY_PASSWORD }}"
        IS_CI: true
        MIXPANEL_TOKEN: "${{ secrets.MIXPANEL_PROJECT_TOKEN }}"
        MIXPANEL_STAGE: "prod"
        SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"
        SENTRY_DSN: "${{ secrets.SENTRY_DSN }}"
        SENTRY_ORG: "${{ secrets.SENTRY_ORG }}"
        SENTRY_PROJECT: "${{ secrets.SENTRY_PROJECT }}"
        UPDATES_SERVER_PRODUCT_NAME: "${{ secrets.UPDATES_SERVER_PRODUCT_NAME }}"
        GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        NODE_ENV: "production"
      run: npm run build -- --win --publish
